<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First WebPage</title>
</head>
<body>
    <nav>
        <a href="https://shop.eminem.com/collections/music">Music</a>
        <a href="https://shop.eminem.com/collections/hoodies">Apparel</a>
        <a href="/about/">About</a>
    </nav>
    <h1>Hi</h1>
    <p>My name is....</p>
    <img src="{{ url_for('static', filename= 'eminem.jpg') }}" style="width:500px; height:500px">
    <br>
    <br>
    <a href="https://shop.eminem.com">Shady</a>

</body>
</html>